<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/search_donor_recipient_history.css">
    <title>Search History</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item"><a href="/admin/report">back</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                <a href="/">log out</a>
              </li>
            </ol>
          </nav>
        </div>
      </nav>
    <div class="container mt-4">
        <h1>Search Donor/Recipient History</h1>

        <!-- Search Form -->
        <form id="searchForm" class="mb-4"method="post" action="/admin/search">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" name="id" placeholder="Enter ID">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>










 

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
